.additional-catalog {
  position: relative;
}


.additional-catalog__heading {
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  font-weight: 400;
  padding: 25px 0 34px;
  margin: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    //width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    height: 2px;
    background: $basic-green;
    //left: 267px;
    //top: 38px;
    //position: absolute;
    margin-left: 22px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 0 80px 36px;
  }
}

.additional-catalog__background-wrapper {
  background-image: url("../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-bottom: 35px;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 140px;
    background-image: url("../img/gift-photo-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-bottom: 76px;
  }
}

.additional-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-checkbox;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.additional-catalog__image {
  justify-self: center;
  padding-top: 58px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    padding-left: 77px;
  }
}

.additional-catalog__text {
  color: $basic-white;
  text-align: center;
  padding: 48px 61px 43px 58px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    padding: 71px 120px 0 0;
    text-align: start;
  }
}

.additional-catalog__button {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
