.additionally-fieldset {
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.additionally-fieldset .additionally-fieldset__legend {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }
}

.additionally-fieldset__checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: 1fr;
    grid-column-gap: 41px;
  }
}

.additionally-fieldset__checkbox-item {
  padding-bottom: 24px;
  padding-left: 46px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 42px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 221px;
    padding-right: 104px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.additionally-fieldset__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally-fieldset__checkbox-label:hover::before {
  border: 1px solid $special-checkbox-hover;
}

.additionally-fieldset__checkbox-input + .additionally-fieldset__checkbox-label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -6px;
  width: 28px;
  height: 28px;
  border: 1px solid $special-checkbox;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
    left: -61px;
    top: -3px;
  }
}

.additionally-fieldset__checkbox-input:disabled + .additionally-fieldset__checkbox-label {
  opacity: 0.3;
}

.additionally-fieldset__checkbox-input:checked + .additionally-fieldset__checkbox-label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: -48px;
    top: 8px;
  }
}
