.example__heading {
  color: $basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;
}

.example__number {
  color: $basic-black;
  font-size: 24px;
  line-height: 24px;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__total {
  color: $basic-black;
  font-size: 14px;
  line-height: 20px;
}

.example__image-list {
  list-style: none;
}

.slider__toggles {
  display: flex;
}

.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
}
