.main-nav {
  position: relative;
  width: auto;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__toggle {
  border: none;
  position: absolute;
  display: block;
  cursor: pointer;
  top: -43px;
  right: 22px;
  z-index: 2;
  width: 24px;
  height: 18px;
  background-color: $basic-white;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("..//img/icon/burger_mobile.svg");
  width: 24px;
  height: 18px;
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon/close_mobile.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--open .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;

    .main-nav--nojs .main-nav__toggle {
      display: none;
    }
  }
}

.main-nav__list {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 42px 30px 65px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 68px 0 32px 0;
    width: 478px;
  }
}

.main-nav__item {
  padding: 21px 0 24px;
  border-top: 1px solid $special-border-nav;
  position: relative;

  &:last-child {
    border-bottom: 1px solid $special-border-nav;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin: 0 34px 0 0;

    &:last-child {
      margin-right: 0;
      border-bottom: none;
    }

    &--active {
      padding-bottom: 10px;

      @media (min-width: $tablet-width) {
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 3px;
          background: $basic-green;
        }
      }
    }

    @media (min-width: $desktop-width) {
      &--white {
        &::after {
          background: $basic-white;
        }
      }
    }
  }
}


.main-nav__link {
  text-decoration: none;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    &--white {
      color: $basic-white;
    }
  }
}
