.main-nav__list {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  padding: 21px 0 24px;
  border-top: 1px solid $special-border-nav;

  &:last-child {
    border-bottom: 1px solid $special-border-nav;
  }
}

.main-nav__list a {
  text-decoration: none;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  border: none;
  position: absolute;
  display: block;
  cursor: pointer;

  &--open {
    background: url("..//img/icon/burger_mobile.svg");
    width: 24px;
    height: 18px;
    top: 22px;
    right: 22px;
  }

  &--close {
    background: url("../img/icon/close_mobile.svg");
    width: 20px;
    height: 20px;
    top: 22px;
    right: 22px;
  }
}
