.map {
  position: relative;
}

.map__heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.map__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 26px;

  &--color {
    background-color: $basic-background;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 66px 31px 61px;

    &--color {
      background-color: $basic-background;
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 66px 89px 60px 76px;
    position: absolute;
    width: 405px;
    top: 95px;
    margin: 0 auto;
    background-color: $basic-white;
  }
}

.map__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    position: relative;
    max-width: 1220px;
  }
}

.map__image {
  background-color: $special-border;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
