.map__heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-text;
  margin: 0;
  padding-top: 28px;
  //padding-left: 20px;
}

.map__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;
  padding-bottom: 26px;
}

.map__wrapper {
  &--color {
    background-color: $basic-background;
  }
}

.map__image {
  background-color: $special-border;
}
