.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
  }
}

.page-header__logo-wrapper {
  display: grid;
  padding: 12px 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    padding: 30px 30px;  //когда поменяю лого, изменятся паддинги
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0; //когда поменяю лого, изменятся паддинги
  }
}

.page-header__logo-image {
  justify-self: left;
}

.page-header__logo-text {
  padding-top: 12px;
  justify-self: center;
}
