.page-footer {
  background-color: $basic-background;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__link {
  display: flex;
  justify-content: center;
  padding: 36px 0 32px;
  border-bottom: 1px solid $special-border-2;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}
