.page-header {
  border-bottom: 1px solid $special-border-2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
  }
}

.page-header__logo-wrapper {
  display: grid;
  padding: 12px 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0;
  }
}

.page-header__logo-image {
  justify-self: left;
}

.page-header__logo-text {
  padding-top: 12px;
  justify-self: center;
}

.page-header__image {
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: auto;
  }
}

.page-header__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
