.page-footer {
  background-color: $basic-background;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 55px 30px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.footer-logo__link {
  display: flex;
  justify-content: center;
  padding: 36px 0 32px;
  border-bottom: 1px solid $special-border-2;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0 156px 0 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 413px 0 0;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0 17px;
  border-bottom: 1px solid $special-border-2;

  @media (min-width: $tablet-width) {
    padding: 0 131px 0 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 385px 0 0;
  }
}

.social__item {
  &:nth-child(1) {
    padding-right: 36px;
  }


  &:nth-child(2) {
    padding-right: 33px;
  }
}

.social__link {
  &:hover .social__fill {
    fill: $basic-green;
  }

  &:active .social__fill {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:hover .social__stroke {
    stroke: $basic-green;
  }

  &:active .social__stroke {
    stroke: $basic-green;
    opacity: 0.3;
  }
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 22px 0;


  &:hover .fill {
    fill: $basic-green;
  }

  &:active .fill {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;
  color: $basic-text;
  padding-top: 5px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 22px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 22px 0 0;
  }
}
