.product {
  border-top: 1px solid $special-border-3;
  min-height: 208px;

  &:last-child {
    border-bottom: 1px solid $special-border-3;

    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-background;
    }
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    background-color: $basic-background;
    max-height: 430px;

    &--other {
      background-color: $basic-white;
      border: 2px solid $basic-background;
    }
  }
}

.product--small {
  border-top: 1px solid $special-checkbox;
  min-height: 129px;
  background-color: $basic-white;

  &:last-child {
    border-bottom: 1px solid $special-checkbox;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: 1px solid $special-checkbox;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 72px;

    &:first-child {
      border-top: 1px solid $special-checkbox;
    }

    &:last-child {
      border-bottom: 1px solid $special-checkbox;
    }
  }
}

.product__wrapper-small {
  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0 17px 0;
    height: 40px;
    align-items: center;
  }
}

.product__wrapper-small .product__description {
  @media (min-width: $tablet-width) {
    padding-right: 49px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: $checkbox-text;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 34px 0 21px 48px;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin: 40px 0 25px 13px;
  }
}

.product__title .product__br-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.product__title .product__br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__link {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    margin-bottom: 17px;
    margin-top: -70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.product__image {
  grid-column: 1/2;
  grid-row: 1/-1;
  vertical-align: middle;
  justify-self: center;
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 168px;
    height: 200px;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    margin-top: -5px;
  }
}

.product__item-wrapper {
  padding: 18px 20px 0;

  &--pro {
    display: grid;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px;

    &--pro {
      padding: 52px 0 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 34px 40px 39px;
  }
}

.product__item {
  display: flex;
  justify-content: space-between;
  margin: 0;

  &--additional {
    margin: 0;
    padding: 13px 0 15px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-checkbox;
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
}

.product__item--additional .product__description {
  @media (min-width: $desktop-width) {
    margin-right: -14px;
  }
}

.product__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product--small .product__description {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__list {
  margin: 0;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 3/-1;

  @media (min-width: $desktop-width) {
    width: 167px;
  }
}

.product__button-secondary {
  padding: 10px 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
  display: flex;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.product__icon {
  justify-self: center;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    padding: 0 0 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 0 53px;
  }
}

.product__heading {
  font-size: 16px;
  line-height: 16px;
  color: $checkbox-text;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;

  &--show {
    text-align: center;
    color: $special-text;
    padding: 23px 0 8px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 23px 0;
  }
}

.product--small .product__heading {
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.product--small .product__item {
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 27px;
    margin-bottom: -9px;
  }
}

@media (max-width: $mobile-width-only) {
  .product__heading br,
  .product__text br {
    display: none;
  }
}

.product__text {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 21px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 87px;
  }
}

.product__button-additional {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-column: 3/-1;
    grid-row: 1/-1;
    justify-self: end;
  }
}
