.selection-program__wrap {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
}

.selection-program-container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
  }
}

.selection-program__wrapper {
  padding: 0 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.selection-program__heading {
  color: $basic-black;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 0;
  font-weight: 400;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 70px 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 110px 0;
  }
}

.selection-program__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  padding: 37px 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 54px 70px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 110px 65px;
  }
}

.selection-program__fieldset {
  border: none;
  margin: 0;
  text-transform: uppercase;
}

.representation-fieldset {
  padding: 39px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.selection-program__item {
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;
  }
}

.selection-program__input {
  border: 1px solid $special-border;
  height: 41px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $basic-text;
  font-family: "Oswald", "Arial", sans-serif;
  width: 100%;
  appearance: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 49px;
    padding-left: 19px;

    @media (min-width: $desktop-width) {
      padding-left: 18px;
    }
  }

  &:hover {
    border: 1px solid $special-checkbox;
  }

  &:focus {
    border: 2px solid $basic-text;
  }

  &:focus + .selection-program__input-icon--email {
    stroke: $basic-green;
  }

  &:focus + .selection-program__input-icon--phone {
    fill: $basic-green;
  }

  &--error {
    border: 2px solid $special-error;
    height: 45px;
    padding: 0 16px;
  }

  &--error + .selection-program__input-icon {
    stroke: $special-error;
  }

  &--error:focus + .selection-program__input-icon {
    stroke: $special-error;
  }
}

.selection-program__input-icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 15px;
    stroke: $checkbox-text;
  }

  &--phone {
    top: 13px;
    right: 13px;
    fill: $basic-black;
  }

  @media (min-width: $tablet-width) {
    &--email {
      top: 19px;
      right: 15px;
    }

    &--phone {
      top: 17px;
      right: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &--email {
      top: 20px;
      right: 18px;
    }

    &--phone {
      right: 18px;
    }
  }
}

.selection-program__label {
  padding-right: 12px;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;

  &--weight {
    padding-right: 16px;
  }

  &--age {
    padding-right: 16px;
  }

  &--phone {
    padding-right: 10px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--weight {
      padding-right: 22px;
    }

    &--email {
      padding-right: 20px;
    }

    &--phone {
      padding-right: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      padding-right: 17px;
    }

    &--phone {
      padding-right: 15px;
    }

    &--age {
      padding-right: 19px;
    }

    &--email {
      padding-right: 21px;
    }
  }
}

.selection-program__radio-list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  color: $checkbox-text;
  text-transform: uppercase;
}

.selection-program__radio-item {
  margin-bottom: 25px;
  padding-left: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 68px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.selection-program__radio-label,
.selection-program__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-program__radio-input + .selection-program__radio-label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -6px;
  width: 29px;
  height: 29px;
  border: 1px solid $special-checkbox;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
    left: -60px;
  }
}

.selection-program__radio-label:hover::before {
  border: 1px solid $special-checkbox-hover;
}

.selection-program__radio-input:checked + .selection-program__radio-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -49px;
    top: 6px;
  }
}

.selection-program__radio-input:disabled + .selection-program__radio-label {
  opacity: 0.3;
}

.selection-fieldset {
  padding: 27px 0 25px;
  border-top: 1px solid $special-border-2;
  border-bottom: 1px solid $special-border-2;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-border;
    padding: 28px 0 31px;
    margin-bottom: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 29px 0;
  }
}

.selection-program__fieldset-wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
}

.selection-program__fieldset-wrap .selection-program__item {
  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.contacts-fieldset {
  margin: 25px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 80px 0 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 68px 0 67px;
  }
}

.selection-program__legend {
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  padding-bottom: 35px;
  position: relative;
  align-items: center;
  display: flex;

  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    left: 100%;
    position: absolute;
    margin-left: 20px;
    top: 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 74px;

    &::before {
      content: "";
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
      right: 100%;
      position: absolute;
      margin-right: 40px;
      top: 19px;
    }

    &::after {
      margin-left: 40px;
      top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 21px;
    }

    &::after {
      top: 22px;
    }
  }
}

.contacts-fieldset .selection-program__legend {
  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    left: 100%;
    position: absolute;
    margin-left: -78px;
    top: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 30px;
      top: 21px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 34px;
      top: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
  }
}

.selection-program__textarea {
  border: 1px solid $special-border;
  resize: none;
  width: 98%;
  height: 147px;
  color: $basic-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    padding: 9px 12px 15px;
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      padding: 9px 15px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 169px;
  }
}

.comment-fieldset {
  margin-bottom: 19px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.comment-fieldset .selection-program__legend {
  @media (min-width: $desktop-width) {
    padding-bottom: 76px;
  }
}

.selection-program__checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: 1fr;
    grid-column-gap: 41px;
  }
}

.selection-program__checkbox-item {
  padding-bottom: 24px;
  padding-left: 46px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 42px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 221px;
    padding-right: 104px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.selection-program__checkbox-input + .selection-program__checkbox-label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -6px;
  width: 28px;
  height: 28px;
  border: 1px solid $special-checkbox;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
    left: -61px;
    top: -3px;
  }
}

.selection-program__checkbox-label:hover::before {
  border: 1px solid $special-checkbox-hover;
}

.selection-program__checkbox-input:disabled + .selection-program__checkbox-label {
  opacity: 0.3;
}


.selection-program__checkbox-input:checked + .selection-program__checkbox-label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: -48px;
    top: 8px;
  }
}


.additionally-fieldset {
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.additionally-fieldset .selection-program__legend {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }
}

.selection-program__button-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 52px;
    grid-gap: 61px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 81px;
    margin-bottom: 79px;
  }
}

.selection-program__button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
  }
}

.selection-program__paragraph {
  color: $basic-black;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 22px 0 30px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    justify-content: start;
    font-size: 16px;
    padding: 21px 5px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 6px 30px;
  }
}
